In [47]:
import pandas as pd
import seaborn as sb
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import roc_auc_score
from sklearn import svm

import matplotlib.pyplot as plt, seaborn as sns
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix,accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier  

import matplotlib.pyplot as plt, seaborn as sns


# merging two csv files
#flights = pd.concat(
#    map(pd.read_csv, ["../BITS PILANI FINAL PROJECT/2007.csv", "../BITS PILANI FINAL PROJECT/2008.csv"]), ignore_index=True)

df=pd.read_csv("../BITS PILANI FINAL PROJECT/2007.csv")
df

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2007,1,1,1,1232.0,1225,1341.0,1340,WN,2891,...,4,11,0,NaN,0,0,0,0,0,0
1,2007,1,1,1,1918.0,1905,2043.0,2035,WN,462,...,5,6,0,NaN,0,0,0,0,0,0
2,2007,1,1,1,2206.0,2130,2334.0,2300,WN,1229,...,6,9,0,NaN,0,3,0,0,0,31
3,2007,1,1,1,1230.0,1200,1356.0,1330,WN,1355,...,3,8,0,NaN,0,23,0,0,0,3
4,2007,1,1,1,831.0,830,957.0,1000,WN,2278,...,3,9,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7453210,2007,12,15,6,1558.0,1605,1749.0,1736,DL,58,...,14,17,0,NaN,0,0,0,0,0,0
7453211,2007,12,15,6,1902.0,1851,2110.0,2105,DL,59,...,6,21,0,NaN,0,0,0,0,0,0
7453212,2007,12,15,6,1024.0,1025,1750.0,1735,DL,61,...,14,19,0,NaN,0,0,0,15,0,0
7453213,2007,12,15,6,1353.0,1315,1658.0,1622,DL,62,...,11,14,0,NaN,0,0,0,0,0,36
7453214,2007,12,15,6,1824.0,1800,2001.0,1928,DL,63,...,10,26,0,NaN,0,24,0,9,0,0

In [48]:
#flights_needed_data = flights[0:100000]  # getting a segment 
#flights_needed_data = flights
#flights_needed_data.info()  # for an insight into the data
df=df[0:200000]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               200000 non-null  int64
 1   Month              200000 non-null  int64
 2   DayofMonth         200000 non-null  int64
 3   DayOfWeek          200000 non-null  int64
 4   DepTime            194851 non-null  float64
 5   CRSDepTime         200000 non-null  int64
 6   ArrTime            194469 non-null  float64
 7   CRSArrTime         200000 non-null  int64
 8   UniqueCarrier      200000 non-null  object
 9   FlightNum          200000 non-null  int64
 10  TailNum            200000 non-null  object
 11  ActualElapsedTime  194469 non-null  float64
 12  CRSElapsedTime     200000 non-null  float64
 13  AirTime            194469 non-null  float64
 14  ArrDelay           194469 non-null  float64
 15  DepDelay           194851 non-null  float64
 16  Origin             200000 non-null  object
 17  Dest               200000 non-null  object
 18  Distance           200000 non-null  int64
 19  TaxiIn             200000 non-null  int64
 20  TaxiOut            200000 non-null  int64
 21  Cancelled          200000 non-null  int64
 22  CancellationCode   5149 non-null    object
 23  Diverted           200000 non-null  int64
 24  CarrierDelay       200000 non-null  int64
 25  WeatherDelay       200000 non-null  int64
 26  NASDelay           200000 non-null  int64
 27  SecurityDelay      200000 non-null  int64
 28  LateAircraftDelay  200000 non-null  int64
dtypes: float64(7), int64(17), object(5)
memory usage: 44.3+ MB

In [49]:
# filtering out unnecessary columns
#flights_needed_data=flights_needed_data.drop(['Year','Month','DayofMonth','CRSArrTime','CRSElapsedTime','CRSDepTime','FlightNum','TailNum',
#                                              'FlightNum','Distance','TaxiOut','TaxiIn',
#                                              'CRSArrTime','CRSDepTime','CancellationCode'], axis=1)

#flights_needed_data


df=df.drop(['Year','Month','DayofMonth','CRSArrTime','CRSElapsedTime','CRSDepTime','FlightNum','TailNum',
                                              'FlightNum','Distance','TaxiOut','TaxiIn',
                                              'CRSArrTime','CRSDepTime','CancellationCode'], axis=1)

df

,DayOfWeek,DepTime,ArrTime,UniqueCarrier,ActualElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1,1232.0,1341.0,WN,69.0,54.0,1.0,7.0,SMF,ONT,0,0,0,0,0,0,0
1,1,1918.0,2043.0,WN,85.0,74.0,8.0,13.0,SMF,PDX,0,0,0,0,0,0,0
2,1,2206.0,2334.0,WN,88.0,73.0,34.0,36.0,SMF,PDX,0,0,3,0,0,0,31
3,1,1230.0,1356.0,WN,86.0,75.0,26.0,30.0,SMF,PDX,0,0,23,0,0,0,3
4,1,831.0,957.0,WN,86.0,74.0,-3.0,1.0,SMF,PDX,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,2,1221.0,1321.0,OO,60.0,41.0,3.0,0.0,CIC,SFO,0,0,0,0,0,0,0
199996,2,1906.0,2057.0,OO,111.0,93.0,-6.0,-1.0,SFO,RDM,0,0,0,0,0,0,0
199997,2,718.0,928.0,OO,130.0,108.0,5.0,0.0,RDM,SFO,0,0,0,0,0,0,0
199998,2,1500.0,1709.0,OO,69.0,52.0,38.0,34.0,LAX,YUM,0,0,38,0,0,0,0
199999,2,1724.0,1651.0,OO,27.0,15.0,45.0,37.0,YUM,IPL,0,0,45,0,0,0,0

In [50]:
# replacing all NaN values with the mean of the attribute in which they are present
#flights_needed_data=flights_needed_data.fillna(flights_needed_data.mean())

df=df.fillna(df.mean())

In [51]:
df['Status'] = np.where(df['ArrDelay'] <= 15, 0,1)

In [52]:
#df =flights_needed_data
    
for dataset in df:
    df.loc[df['ArrDelay'] <= 15, 'Status'] = 0
    df.loc[df['ArrDelay'] >= 15, 'Status'] = 1
    df.loc[df['ArrDelay'] >= 60, 'Status'] = 1
    df.loc[df['Diverted'] == 1, 'Status'] = 1
    df.loc[df['Cancelled'] == 1, 'Status'] = 1

    # replacing na values in college with No college
df["LateAircraftDelay"].fillna(0, inplace = True)
df["SecurityDelay"].fillna(0, inplace = True)
df["NASDelay"].fillna(0, inplace = True)
df["WeatherDelay"].fillna(0, inplace = True)
df["CarrierDelay"].fillna(0, inplace = True)
#print("Y variable in two categories")

In [53]:
df

,DayOfWeek,DepTime,ArrTime,UniqueCarrier,ActualElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Status
0,1,1232.0,1341.0,WN,69.0,54.0,1.0,7.0,SMF,ONT,0,0,0,0,0,0,0,0
1,1,1918.0,2043.0,WN,85.0,74.0,8.0,13.0,SMF,PDX,0,0,0,0,0,0,0,0
2,1,2206.0,2334.0,WN,88.0,73.0,34.0,36.0,SMF,PDX,0,0,3,0,0,0,31,1
3,1,1230.0,1356.0,WN,86.0,75.0,26.0,30.0,SMF,PDX,0,0,23,0,0,0,3,1
4,1,831.0,957.0,WN,86.0,74.0,-3.0,1.0,SMF,PDX,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,2,1221.0,1321.0,OO,60.0,41.0,3.0,0.0,CIC,SFO,0,0,0,0,0,0,0,0
199996,2,1906.0,2057.0,OO,111.0,93.0,-6.0,-1.0,SFO,RDM,0,0,0,0,0,0,0,0
199997,2,718.0,928.0,OO,130.0,108.0,5.0,0.0,RDM,SFO,0,0,0,0,0,0,0,0
199998,2,1500.0,1709.0,OO,69.0,52.0,38.0,34.0,LAX,YUM,0,0,38,0,0,0,0,1
199999,2,1724.0,1651.0,OO,27.0,15.0,45.0,37.0,YUM,IPL,0,0,45,0,0,0,0,1

In [54]:
# removing some more columns
df=df.drop(['Origin', 'Dest', 'UniqueCarrier','ArrDelay','DepTime'],axis=1)
df

,DayOfWeek,ArrTime,ActualElapsedTime,AirTime,DepDelay,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Status
0,1,1341.0,69.0,54.0,7.0,0,0,0,0,0,0,0,0
1,1,2043.0,85.0,74.0,13.0,0,0,0,0,0,0,0,0
2,1,2334.0,88.0,73.0,36.0,0,0,3,0,0,0,31,1
3,1,1356.0,86.0,75.0,30.0,0,0,23,0,0,0,3,1
4,1,957.0,86.0,74.0,1.0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,2,1321.0,60.0,41.0,0.0,0,0,0,0,0,0,0,0
199996,2,2057.0,111.0,93.0,-1.0,0,0,0,0,0,0,0,0
199997,2,928.0,130.0,108.0,0.0,0,0,0,0,0,0,0,0
199998,2,1709.0,69.0,52.0,34.0,0,0,38,0,0,0,0,1
199999,2,1651.0,27.0,15.0,37.0,0,0,45,0,0,0,0,1

In [55]:
df["Status"]=df["Status"].astype("category")
data = df.values

,DayofMonth,DayOfWeek,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,DepDelay,...,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Status
0,1,1,1225,1341.0,1340,2891,69.0,75.0,54.0,7.0,...,4,11,0,0,0,0,0,0,0,0
1,1,1,1905,2043.0,2035,462,85.0,90.0,74.0,13.0,...,5,6,0,0,0,0,0,0,0,0
2,1,1,2130,2334.0,2300,1229,88.0,90.0,73.0,36.0,...,6,9,0,0,3,0,0,0,31,1
3,1,1,1200,1356.0,1330,1355,86.0,90.0,75.0,30.0,...,3,8,0,0,23,0,0,0,3,1
4,1,1,830,957.0,1000,2278,86.0,90.0,74.0,1.0,...,3,9,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,16,2,1221,1321.0,1318,5737,60.0,57.0,41.0,0.0,...,3,16,0,0,0,0,0,0,0,0
199996,16,2,1907,2057.0,2103,5738,111.0,116.0,93.0,-1.0,...,2,16,0,0,0,0,0,0,0,0
199997,16,2,718,928.0,923,5739,130.0,125.0,108.0,0.0,...,3,19,0,0,0,0,0,0,0,0
199998,16,2,1426,1709.0,1631,5740,69.0,65.0,52.0,34.0,...,4,13,0,0,38,0,0,0,0,1
199999,16,2,1647,1651.0,1606,5740,27.0,19.0,15.0,37.0,...,3,9,0,0,45,0,0,0,0,1

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DayOfWeek          200000 non-null  int64
 1   ArrTime            200000 non-null  float64
 2   ActualElapsedTime  200000 non-null  float64
 3   AirTime            200000 non-null  float64
 4   DepDelay           200000 non-null  float64
 5   Cancelled          200000 non-null  int64
 6   Diverted           200000 non-null  int64
 7   CarrierDelay       200000 non-null  int64
 8   WeatherDelay       200000 non-null  int64
 9   NASDelay           200000 non-null  int64
 10  SecurityDelay      200000 non-null  int64
 11  LateAircraftDelay  200000 non-null  int64
 12  Status             200000 non-null  category
dtypes: category(1), float64(4), int64(8)
memory usage: 18.5 MB

In [57]:
X, y = data[:,:-1], data[:,-1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)  # splitting in the ratio 70:30

In [58]:
y_train

array([0., 0., 0., ..., 0., 0., 0.])

In [59]:
from sklearn.svm import SVC
classifier = SVC(kernel='rbf', random_state = 1)

In [60]:
classifier.fit(X_train,y_train)

SVC(random_state=1)

In [63]:
y_pred = classifier.predict(X_test)

In [64]:
y_pred

array([0., 0., 1., ..., 0., 1., 1.])

In [65]:
from sklearn.metrics import confusion_matrix  

cm= confusion_matrix(y_test, y_pred)
ac=accuracy_score(y_test, y_pred)

In [66]:
cm

array([[45187,     8],
       [ 2455, 12350]], dtype=int64)

In [67]:
ac

0.95895